source/pages/controls.jade
block page
	-var page = "contacts";

extends ../blocks/layout/layout

//- block scripts
	script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
	script(src="assets/js/offices.js")

block content
	.wrapper
		ol.breadcrumb
			li.breadcrumb__item
				a(href="#") Главная
			li.breadcrumb__item
				a(href="#") О&nbsp;компании
			li.breadcrumb__item.active
				span Органы управления
		.section
			h1.section__title Органы управления
			.b-content
				.grid
					.grid__col-6.grid__col-p-12
						.b-content__subtitle Совет директоров
						ul.b-list-group
							li.b-list-group__item
								.b-list-group__name Председатель Совета директоров
								p.b-list-group__text Патрушев Дмитрий Николаевич
							li.b-list-group__item
								.b-list-group__name Заместитель Председателя Совета директоров
								.b-list-group__text Жачкина Ирина Владимировна
							li.b-list-group__item
								.b-list-group__name Члены Совета директоров
								p.b-list-group__text Барабанов Андрей Николаевич
								p.b-list-group__text Суворова Ольга Сергеевна
								p.b-list-group__text Лут Оксана Николаевна
								p.b-list-group__text Сергеев Дмитрий Геннадьевич
								p.b-list-group__text Стырин Константин Юрьевич
					.grid__col-6.grid__col-p-12
						.b-content__subtitle Руководство
						ul.b-list-group
							li.b-list-group__item
								.b-list-group__name Генеральный директор
								p.b-list-group__text Простатин Сергей Иванович
							li.b-list-group__item
								.b-list-group__name Первый заместитель генерального директора
								p.b-list-group__text Калинина Светлана Викторовна
							li.b-list-group__item
								.b-list-group__name Заместитель генерального директора – Директор департамента развития корпоративного бизнеса
								p.b-list-group__text Вологдина Евгения Михайловна
							li.b-list-group__item
								.b-list-group__name Заместитель генерального директора
								p.b-list-group__text Гусаров Андрей Борисович
				.b-content__hr

html/controls.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="application-name" content="">
    <meta name="msapplication-tooltip" content="">
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="assets/css/main.css">
  </head>
  <body>
    <div id="app" class="app">
      <div class="app__wrap">
        <div class="app__content">
          <!-- start header-->
          <header class="header">
            <div class="wrapper">
              <div class="header__content"><a href="#" class="header-brand">
                  <div class="header-brand__img"><img src="assets/images/brand.jpg" alt="Россельхозбанк"></div>
                  <div class="header-brand__title">Группа &laquo;АО&nbsp;Россельхозбанк&raquo;</div></a>
                <div class="header__controls">
                  <div class="phone">
                    <div class="phone__name">Бесплатный звонок по&nbsp;России</div><a href="callto:88007004560" class="phone__number"><span class="phone__number-icon"><img src="assets/images/icon-phone.svg"></span><span class="phone__number-text">8 800 700 45 60</span></a>
                  </div><a href="#" data-toggle-class="app-navbar-off" data-toggle-target="#app" data-toggle-click-outside="#navbar-collapse" class="navbar-toggler"><span class="navbar-toggler__icon"></span></a>
                </div>
              </div>
              <nav id="navbar-collapse" class="navbar"><a href="#" data-toggle-class="app-navbar-off" data-toggle-target="#app" data-toggle-click-outside="#navbar-collapse" class="navbar__close"><span class="navbar__close-icon"></span></a>
                <div class="navbar__nav">
                  <div class="navbar__item"><a href="#" class="navbar__link">Инвестиционное страхование жизни</a>
                  </div>
                  <div class="navbar__item"><a href="#" class="navbar__link">Накопить в&nbsp;рублях</a>
                  </div>
                  <div class="navbar__item"><a href="#" class="navbar__link">Накопить в&nbsp;иностранной валюте</a>
                  </div>
                  <div class="navbar__item  dropdown"><a href="#" class="navbar__link">О&nbsp;компании</a>
                    <div class="navbar-dropdown">
                      <ul class="navbar-dropdown__list">
                        <li class="navbar-dropdown__list-item"><a href="offices.html" class="navbar-dropdown__list-link">Наши офисы</a>
                        </li>
                        <li class="navbar-dropdown__list-item"><a href="#" class="navbar-dropdown__list-link">Акционеры</a>
                        </li>
                        <li class="navbar-dropdown__list-item"><a href="controls.html" class="navbar-dropdown__list-link">Органы управления</a>
                        </li>
                        <li class="navbar-dropdown__list-item"><a href="#" class="navbar-dropdown__list-link">История</a>
                        </li>
                        <li class="navbar-dropdown__list-item"><a href="news.html" class="navbar-dropdown__list-link">Новости</a>
                        </li>
                        <li class="navbar-dropdown__list-item"><a href="documents.html" class="navbar-dropdown__list-link">Документы</a>
                        </li>
                        <li class="navbar-dropdown__list-item"><a href="#" class="navbar-dropdown__list-link">Карьера в&nbsp;компании</a>
                        </li>
                        <li class="navbar-dropdown__list-item"><a href="#" class="navbar-dropdown__list-link">Закупки</a>
                        </li>
                        <li class="navbar-dropdown__list-item"><a href="#" class="navbar-dropdown__list-link">Реквизиты</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </nav>
            </div>
          </header>
          <div id="floating-nav" class="floating-nav">
            <div href="#" data-toggle-class="app-sidebar-off" data-toggle-target="#app" data-toggle-click-outside="#floating-nav" class="floating-nav__toggler">
              <svg class="floating-nav__toggler-icon">
                <use xlink:href="assets/images/sprites.svg#icon_arrow-navbar"></use>
              </svg>
            </div>
            <ul class="floating-nav__list">
              <li class="floating-nav__list-item"><a href="#" class="floating-nav-item">
                  <div class="floating-nav-item__wrap-icon">
                    <div class="floating-nav-item__icon">
                      <svg class="floating-nav-item__img">
                        <use xlink:href="assets/images/sprites.svg#icon_user"></use>
                      </svg>
                    </div>
                  </div>
                  <div class="floating-nav-item__text">Личный кабинет</div></a></li>
              <li class="floating-nav__list-item"><a href="#" class="floating-nav-item">
                  <div class="floating-nav-item__wrap-icon">
                    <div class="floating-nav-item__icon">
                      <svg class="floating-nav-item__img">
                        <use xlink:href="assets/images/sprites.svg#icon_offices"></use>
                      </svg>
                    </div>
                  </div>
                  <div class="floating-nav-item__text">Найти офис</div></a></li>
              <li class="floating-nav__list-item"><a href="#" class="floating-nav-item">
                  <div class="floating-nav-item__wrap-icon">
                    <div class="floating-nav-item__icon">
                      <svg class="floating-nav-item__img">
                        <use xlink:href="assets/images/sprites.svg#icon_sitemap"></use>
                      </svg>
                    </div>
                  </div>
                  <div class="floating-nav-item__text">Карта сайта</div></a></li>
              <li class="floating-nav__list-item"><a href="#" class="floating-nav-item">
                  <div class="floating-nav-item__wrap-icon">
                    <div class="floating-nav-item__icon">
                      <svg class="floating-nav-item__img">
                        <use xlink:href="assets/images/sprites.svg#icon_partners"></use>
                      </svg>
                    </div>
                  </div>
                  <div class="floating-nav-item__text">Наши партнеры</div></a></li>
            </ul>
          </div>
          <!-- end header-->
          <div class="wrapper">
            <ol class="breadcrumb">
              <li class="breadcrumb__item"><a href="#">Главная</a></li>
              <li class="breadcrumb__item"><a href="#">О&nbsp;компании</a></li>
              <li class="breadcrumb__item active"><span>Органы управления</span></li>
            </ol>
            <div class="section">
              <h1 class="section__title">Органы управления</h1>
              <div class="b-content">
                <div class="grid">
                  <div class="grid__col-6 grid__col-p-12">
                    <div class="b-content__subtitle">Совет директоров</div>
                    <ul class="b-list-group">
                      <li class="b-list-group__item">
                        <div class="b-list-group__name">Председатель Совета директоров</div>
                        <p class="b-list-group__text">Патрушев Дмитрий Николаевич</p>
                      </li>
                      <li class="b-list-group__item">
                        <div class="b-list-group__name">Заместитель Председателя Совета директоров</div>
                        <div class="b-list-group__text">Жачкина Ирина Владимировна</div>
                      </li>
                      <li class="b-list-group__item">
                        <div class="b-list-group__name">Члены Совета директоров</div>
                        <p class="b-list-group__text">Барабанов Андрей Николаевич</p>
                        <p class="b-list-group__text">Суворова Ольга Сергеевна</p>
                        <p class="b-list-group__text">Лут Оксана Николаевна</p>
                        <p class="b-list-group__text">Сергеев Дмитрий Геннадьевич</p>
                        <p class="b-list-group__text">Стырин Константин Юрьевич</p>
                      </li>
                    </ul>
                  </div>
                  <div class="grid__col-6 grid__col-p-12">
                    <div class="b-content__subtitle">Руководство</div>
                    <ul class="b-list-group">
                      <li class="b-list-group__item">
                        <div class="b-list-group__name">Генеральный директор</div>
                        <p class="b-list-group__text">Простатин Сергей Иванович</p>
                      </li>
                      <li class="b-list-group__item">
                        <div class="b-list-group__name">Первый заместитель генерального директора</div>
                        <p class="b-list-group__text">Калинина Светлана Викторовна</p>
                      </li>
                      <li class="b-list-group__item">
                        <div class="b-list-group__name">Заместитель генерального директора – Директор департамента развития корпоративного бизнеса</div>
                        <p class="b-list-group__text">Вологдина Евгения Михайловна</p>
                      </li>
                      <li class="b-list-group__item">
                        <div class="b-list-group__name">Заместитель генерального директора</div>
                        <p class="b-list-group__text">Гусаров Андрей Борисович</p>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="b-content__hr"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="app__footer">
          <footer>
            <div class="wrapper">
              <div class="footer">
                <div class="footer__top">
                  <div class="footer-list-group">
                    <ul class="footer-list">
                      <li class="footer-list__item"><a href="#" class="footer-list__link">Акционеры</a></li>
                      <li class="footer-list__item"><a href="#" class="footer-list__link">Органы управления</a></li>
                      <li class="footer-list__item"><a href="#" class="footer-list__link">История</a></li>
                      <li class="footer-list__item"><a href="#" class="footer-list__link">Новости</a></li>
                    </ul>
                    <ul class="footer-list">
                      <li class="footer-list__item"><a href="#" class="footer-list__link">Документы</a></li>
                      <li class="footer-list__item"><a href="#" class="footer-list__link">Карьера в&nbsp;компании</a></li>
                      <li class="footer-list__item"><a href="#" class="footer-list__link">Закупки</a></li>
                      <li class="footer-list__item"><a href="#" class="footer-list__link">Реквизиты</a></li>
                    </ul>
                  </div>
                  <div class="services-list-group">
                    <div class="services-item"><a href="#" class="services-item__wrap-icon services-item__wrap-icon_call"><span class="services-item__icon">
                          <svg class="services-item__icon-call">
                            <use xlink:href="assets/images/sprites.svg#icon_phone"></use>
                          </svg></span></a>
                      <p class="services-item__name">Позвоните нам</p>
                    </div>
                    <div class="services-item"><a href="#" class="services-item__wrap-icon services-item__wrap-icon_mail"><span class="services-item__icon">
                          <svg class="services-item__icon-mail">
                            <use xlink:href="assets/images/sprites.svg#icon_email"></use>
                          </svg></span></a>
                      <p class="services-item__name">Напишите нам</p>
                    </div>
                  </div>
                  <div class="footer-social">
                    <div class="footer-social__title">Поделиться в&nbsp;соцсетях</div>
                    <div class="footer-social__wrap">
                      <div class="footer-social__wrap-item"><a href="#" class="footer-social__item footer-social__item_fb"><span class="footer-social__icon"></span><span class="footer-social__name">Facebook</span></a></div>
                      <div class="footer-social__wrap-item"><a href="#" class="footer-social__item footer-social__item_tw"><span class="footer-social__icon"></span><span class="footer-social__name">Twitter</span></a></div>
                      <div class="footer-social__wrap-item"><a href="#" class="footer-social__item footer-social__item_vk"><span class="footer-social__icon"></span><span class="footer-social__name">ВКонтакте</span></a></div>
                    </div>
                  </div>
                </div>
                <div class="brand-list">
                  <div class="brand-list__group brand-list__group_left">
                    <div class="brand-list__item"><img src="content/images/logo/img-1.png" alt="" class="brand-list__img"></div>
                    <div class="brand-list__item"><img src="content/images/logo/img-2.png" alt="" class="brand-list__img"></div>
                  </div>
                  <div class="brand-list__group brand-list__group_right">
                    <div class="brand-list__item"><img src="content/images/logo/img-4.png" alt="" class="brand-list__img"></div>
                    <div class="brand-list__item"><img src="content/images/logo/img-3.png" alt="" class="brand-list__img"></div>
                  </div>
                </div>
                <div class="footer__bottom">
                  <div class="footer-copyright">&copy;&nbsp;2011-2016  ООО&nbsp;<b>&laquo;РСХБ-Страхование жизни&raquo;</b></div>
                  <div class="footer-location">
                    <div class="footer-location__address">
                      <div class="footer-location__address-content">
                        <div class="footer-location__address-name">119034, г. Москва, Гагаринский переулок, дом 3&nbsp;этаж&nbsp;1, помещение&nbsp;II, комната&nbsp;18</div><a href="#" class="footer-location__address-link">Показать на&nbsp;карте</a>
                      </div>
                    </div>
                    <div class="footer-location__sitemap">
                      <div class="footer-location__sitemap-content">Карта сайта</div>
                    </div>
                  </div>
                  <div class="footer-develop">
                    <div class="footer-develop__text">Разработка веб-сайта:</div>
                    <div class="footer-develop__link"><a href="#">компания Leann</a></div>
                  </div>
                </div>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
    <script src="assets/js/vendor/jquery-3.2.1.min.js"></script>
    <script src="assets/js/vendor/slick.js"></script>
    <script src="assets/js/vendor/photoswipe.js"></script>
    <script src="assets/js/vendor/photoswipe-ui-default.js"></script>
    <script src="assets/js/vendor/svg4everybody.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
